<div class="search">
  <input [(ngModel)]="search" (ngModelChange)="searchFriends()" class="mr-sm-2" type="search"
    placeholder="Search Buddy">
</div>
<h2>My Buddies</h2>
<div class="fatherBox">
  <div class="s">
    <div class="scroll">
      <div class="card " *ngFor="let user of allusers">
        <div class="card-body" (click)="userSelectedF(user)">
          <img class="card-img-top" [src]="user.img">
          <p>{{ user.name }}</p>
          <p>{{ user.username }}</p>
          <p>{{ user.location }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d" *ngIf="userSelected">
    <div class="scroll">
      <div class="card ">
        <div class="card-body">
          <img class="card-img-top" [src]="userSelected.img">
          <p>{{userSelected.name}}</p>
          <p>{{ userSelected.username }}</p>
          <p>{{ userSelected.location }}</p>
          <p>{{ userSelected.age }} Años</p>
        </div>
        <button *ngIf="getStatus(userSelected) === -1" class="btn btn-outline-danger" (click)="requestFriend(userSelected)">
          Request Friendship</button>
        <button *ngIf="getStatus(userSelected) === 0" class="btn btn-outline-danger" >
          Waiting Friendship</button>
        <button *ngIf="getStatus(userSelected) === 1" class="btn btn-outline-danger" >
          Cancel Friendship</button>
      </div>
    </div>
  </div>
</div>